<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
  <style>
    .title{
      background-color:#48C9B0 ;
      font-size: 1.5em;
      font-weight: bold;
      color: white;
    }
    .btn{
      border-radius: 12px;
      background-color: #48C9B0;
      color: white;
    }
    .link a{
      
      color: rgb(123, 126, 126);
      
    }

  </style>

  <div class="container ">
    <div class="mt-5 mb-4 ">
      <div class="card row justify-content-center">
        <div class="card-header text-center title" >
          Filtra tus super héroes
        </div>
        <div class="card-body">

          <div class="container mt-4">
            <div class="row">

              <div class="col">
                <div class="card text-center shadow">
                  <div class="card-header">
                    <p class="mb-1">Raza</p>
                    <div class="row justify-content-center">                       
                        <select name="" id="raza" class="form-select">
                          <option value="">Selección</option>
                        </select>                     
                  </div> 
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card text-center shadow">
                  <div class="card-header">
                    <p class="mb-1">Género</p>                  
                        <div class="row justify-content-center">
                          <select name="" id="genero" class="form-select">
                            <option value="">Selección</option>
                          </select>
                        </div>                       
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card text-center shadow">
                  <div class="card-header">
                    <p class="mb-1">Bando</p>
                    <div class="row justify-content-center">                
                      <select name="" id="bando" class="form-select">
                        <option value="">Selección</option>
                      </select>              
                  </div>
                  </div>                      
                    </div>
                </div>
              </div>

            </div>

          </div>

            <div class="d-grid gap-2 col-6 mx-auto ">
              <div class="d-grid">
                <button id="btnFiltrar" class="btn btn-light mt-2 btn" >
                  Filtrar datos</button>
              </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto mb-4">
              <div class="d-grid">
                <button id="exportarPdf" class="btn btn-light mt-2 btn" >
                   Generar reporte</button>
              </div>
            </div>
            <hr>
            <h6 class="mb-2">Graficos</h6>
            <div class="container link">
              <a href="./grafico-demo.html"><<<< Grafico - demo >>>></a>
            </div>
            <div class="container mb-3 link">
              <a href="./grafico.update.html"><<<< Grafico - update >>>></a>
            </div>
            <hr>


             <!-- Tabla -->
            <div class="container">
              <div class="col-12">
                <table class="table table-sm caption-top" id="tabla-hero">
                  <caption>Lista de datos</caption>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Color de Cabello</th>
                      <th>Editor</th>
                      <th>Peso</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- asincrono -->
                  </tbody>
                </table>
              </div>
            </div>
          
        </div>
    </div>
  </div>


  

  <script>

    document.addEventListener("DOMContentLoaded", () =>{

      //Objetos
      const lsRace = document.querySelector("#raza");
      const lsGender = document.querySelector("#genero");
      const lsAlignment = document.querySelector("#bando");
      const tablaHero = document.querySelector("#tabla-hero");
      const cuerpoTabla = tablaHero.querySelector("tbody"); 
      const btnReportePDF = document.querySelector("#exportarPdf");
      const btnFiltrar = document.querySelector("#btnFiltrar");


      //Métodos
      function mostrarRace(){
        const parametros = new URLSearchParams();
        parametros.append("operacion", "getRace");

        fetch("../controller/race.controller.php", {
          method: 'POST',
          body: parametros
        })
        .then(response => response.json())
        .then(datos => {
          lsRace.innerHTML = "<option value=''>Seleccione</option>";
          datos.forEach(element => {
            const optionTag = document.createElement("option");
            optionTag.value = element.id;
            optionTag.text = element.race;
            lsRace.appendChild(optionTag);
            
          });
        });
      }

      function mostrarGender(){
        const parametros = new URLSearchParams();
        parametros.append("operacion", "getGender");

        fetch("../controller/gender.controller.php", {
          method: 'POST',
          body: parametros
        })
        .then(response => response.json())
        .then(datos => {
          lsGender.innerHTML = "<option value=''>Seleccione</option>";
          datos.forEach(element => {
            const optionTag = document.createElement("option");
            optionTag.value = element.id;
            optionTag.text = element.gender;
            lsGender.appendChild(optionTag);
            
          });
        });
      }

      function mostrarBando(){
        const parametros = new URLSearchParams();
        parametros.append("operacion", "getAlignment");

        fetch("../controller/alignment.controller.php", {
          method: 'POST',
          body: parametros
        })
        .then(response => response.json())
        .then(datos => {
          lsAlignment.innerHTML = "<option value=''>Seleccione</option>";
          datos.forEach(element =>{
            const optionTag = document.createElement("option");
            optionTag.value = element.id;
            optionTag.text = element.alignment;
            lsAlignment.appendChild(optionTag);
          });
        });
      }

      function mostrarFiltrado(){
        const parametros = new URLSearchParams();
        parametros.append("operacion", "listarFiltrado");
        parametros.append("race_id", parseInt(lsRace.value));
        parametros.append("gender_id", parseInt(lsGender.value));
        parametros.append("bando_id", parseInt(lsAlignment.value));

        fetch('../controller/superHeroe.controller.php',{
          method: 'POST',
          body: parametros
        })
        .then(response => response.json())
        .then(datos => {
          console.log(datos);
          datos.forEach(element => {
            const row = `
            <tr>
              <td>${element.id}</td>
              <td>${element.superhero_name}</td>
              <td>${element.hair_colour}</td>
              <td>${element.publisher_name}</td>
              <td>${element.weight_kg}</td>            
            </tr>
            
            `;

            cuerpoTabla.innerHTML += row;
          });
        })
        .catch(error =>{
          cuerpoTabla.innerHTML = ``;
          alert('No se encontraron datos')
        });
      }

      function generarPdf(){
        const parametros = new URLSearchParams();
        parametros.append("race_id", parseInt(lsRace.value));
        parametros.append("gender_id", parseInt(lsGender.value));
        parametros.append("bando_id", parseInt(lsAlignment.value));
        parametros.append("title", lsRace.options[lsRace.selectedIndex].text);
        parametros.append("title2", lsGender.options[lsGender.selectedIndex].text);
        parametros.append("title3", lsAlignment.options[lsAlignment.selectedIndex].text)
        window.open(`../reports/filtrado.report.php?${parametros}`, `_blank`);
      }
      


      //Eventos
      mostrarRace();
      mostrarGender();
      mostrarBando();
      // lsAlignment.addEventListener("change", mostrarFiltrado);
      // lsRace.addEventListener("change", mostrarFiltrado);
      // lsGender.addEventListener("change", mostrarFiltrado);
      btnReportePDF.addEventListener("click", generarPdf);
      btnFiltrar.addEventListener("click", mostrarFiltrado);
  
    }); 
  </script>

  
</body>
</html>